doctype html
html(class="no-js" lang="en")
	head
		meta(charset="utf-8")
		meta(meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		title Axel Blog - Projects and stuff
		meta(meta name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="apple-touch-icon" href="apple-touch-icon.png")
		link(rel="stylesheet" href="/css/normalize.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/main.css")
		script(src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")
	body
		div(class="header-container")
			header(class="wrapper clearfix")
				h1(class="title") Axel Monroy
				nav
					ul
						li
							a(href="/") Home
						li
							a(href="#") Projects
						li
							a(href="#") Contact
		div(class="main-container")
			div(class="main wrapper clearfix")
				article
					header
						h1 Article header h1
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dicta dolore ea illo maiores ullam quia quae autem nostrum veritatis ex quasi, delectus ut debitis dignissimos sunt itaque aliquam expedita!
					section
						h2 Article section h2
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quos accusantium commodi. Quae ipsam molestias provident nobis, dicta, veniam vitae repudiandae, asperiores deserunt, est at! Quos sint saepe quidem optio.
					section
						h2 Article section h2
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quos accusantium commodi. Quae ipsam molestias provident nobis, dicta, veniam vitae repudiandae, asperiores deserunt, est at! Quos sint saepe quidem optio.
					footer
						h3 Article section h3
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quos accusantium commodi. Quae ipsam molestias provident nobis, dicta, veniam vitae repudiandae, asperiores deserunt, est at! Quos sint saepe quidem optio.
				aside
					h3 About me
					p
						img(src="img/profilephoto.jpg" alt="Profile Photo" class="profilephoto" align="left")
						span I'm 21 years old, and currently live in Hermosillo, Sonora. I grew up in Pitiquito, Sonora but I had to move because of my career choice.
					p I love to travel around mostly Mexico and take a lot of photographs just for hobby.
					p I mostly use C#, Java and  I'm getting  really exited about new technologies on web.
		div(class="footer-container")
			footer(class="wrapper")
				div(class="footer-left")
					p Axel Monroy
					p Software Engineer

				div(class="footer-right")
					a(href="https://github.com/axelmonroyx" target="_blank")
						i(class="fa fa-github")
					a(href="https://mx.linkedin.com/pub/axel-alfredo-monroy-tanori/56/731/505" target="_blank")
						i(class="fa fa-linkedin")


					a(href="https://plus.google.com/+AxelMonroyX" target="_blank")
						i(class="fa fa-google-plus")

					a(href="https://www.facebook.com/AxelMonroyX" target="_blank")
						i(class="fa fa-facebook")

					a(href="https://twitter.com/AxelMonroyX" target="_blank")
						i(class="fa fa-twitter")

					a(href="https://instagram.com/axelmonroyx/" target="_blank")
						i(class="fa fa-instagram")